.productos {
    display: grid;
    grid-template-rows:150px, 150px;
    grid-template-columns:150px, 150px;

}

.productos-lista__container {
    display: grid;
    grid-template-rows:150px, 150px;
    grid-template-columns:150px, 150px;
}


.productos-lista__imagen {
    width: 9.75rem;
    height: 10.875rem;
}